baseURL = 'https://technoplasm.jp/'
languageCode = 'ja'
title = '株式会社テクノプラズム'

[params]
  description = 'テクノロジーで医療現場を支援する株式会社テクノプラズムのウェブサイトです'

[permalinks]
  blog = '/blog/:contentbasename/'
  news = '/news/:contentbasename/'

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

[build]
  [build.buildStats]
    enable = true
  [[build.cachebusters]]
    source = 'assets/notwatching/hugo_stats\.json'
    target = 'css'
  [[build.cachebusters]]
    source = '(postcss|tailwind)\.config\.js'
    target = 'css'

[module]
  [[module.mounts]]
    source = 'assets'
    target = 'assets'
  [[module.mounts]]
    source = 'hugo_stats.json'
    target = 'assets/notwatching/hugo_stats.json'
    disableWatch = true
  [[module.mounts]]
    source = 'content'
    target = 'content'
  [[module.mounts]]
    source = 'static'
    target = 'static'
  [[module.mounts]]
    source = 'layouts'
    target = 'layouts'
